internals/PropertyAliasesTable.lua linguist-generated
internals/PropertyValueAliasesTable.lua linguist-generated
internals/NamedSequencesTable.lua linguist-generated
internals/MasterTable/Init_Plane*.lua linguist-generated
internals/MasterTable/InitAllChunks.lua linguist-generated